body{
	    margin: 0;
	    padding: 0;
	    background: url(1.jpg) no-repeat;
	    background-size: cover;
	    
	  }
	
	  .box{
	    width: 450px;
	    background: rgba(100, 147, 147, 0.425);
	    padding: 150px;
	    text-align: center;
	    margin: auto;
	    margin-top: 5%;
	    color: white;
	    font-family: 'Century Gothic',sans-serif;
	  }
	
	 	
	  .box h1{
	    font-size: 40px;
	    letter-spacing: 4px;
	    font-weight: 100;
	    color: rgb(245, 245, 245);
	    font-style: oblique;
	  }
	
	  .box p{
	    text-align: justify;
	    color: whitesmoke;
	    font-style: italic;
	  }
	
